// COLORS
$color-primary: #bc4e9c;
$color-primary-light: #bc4e9c;
$color-primary-dark: #f80759;

$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

$color-grey-light-1: #f7f7f7;
$color-grey-dark-2: #eee;
$color-grey-dark-3: #999;
$color-grey-dark-4: #333;


$color-secondary-light: #7ed56f;
$color-secondary-dark: #28b485;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

